<center class="container-fluid" ng-controller="card-set-controller" ng-init="getAllSets()">

    <h2>Flashcard Sets</h2>

    <form action="#" method="get" style="margin-top:50px; margin-bottom:60px">

        <div class="col-md-3 input-group has-feedback">
            <input class="form-control input-lg" id="system-search" placeholder="Search...">
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </form>

    <div class="col-xs-2"></div>
    <div class="col-lg-8">
    <div class="container-fluid" style="height: 500px; overflow: auto">
    	<table class="table table-hover table-responsive table-list-search" ng-init="getAllSets()">
            <thead>
    			<th>Name</th>
    			<th>Category</th>
    			<th># Cards</th>
    			<th>Author</th>
    			<th>Last Modified</th>
            </thead>
            <tbody>
            <tr ng-repeat="set in sets">
            	<td><b><a href="" ng-click="redirectSearchCardUrl(set.setIdNum)">{{set.Name}}</a></b></td>
    	   		<td>{{set.Category}}</td>
    	   		<td>{{set.numCards}}</td>
    	   		<td>{{set.Author}}</td>
    	   		<td>{{set.DateCreated}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-xs-2"></div>
</center>



<div class="container-fluid" ng-controller="account-controller" ng-init="getAllusers()">
<label><b>Select a user </b></label>
<select ng-model="selecteduser" ng-change="userRedirect(selecteduser)" ng-options="userresult.firstName for userresult in userresults"></select>
</div>

<script type = "text/javascript" src="/client/js/table.js"></script>