<!-- Search Flashcard  View-->
<div ng-controller="flashcardsetsController" ng-init='getcardsetResults()' style="margin-top:50px">
	<table class="table table-bordered table-hover"> 
		<thead class="thead-inverse">
			<th>Name</th>
			<th>Category</th>
			<th># Cards</th>
			<th>Author</th>
			<th>Date Created</th>
		</thead>
		<tbody>
   		<tr class="table-active" ng-repeat="result in results">
	   		<td><a href="" ng-click="redirectSearchCardUrl(result.setIdNum, result.Name)">{{result.Name}}</a></td>
	   		<td>{{result.Category}}</td>
	   		<td>{{result.numCards}}</td>
	   		<td>{{result.Author}}</td>
	   		<td>{{result.DateCreated}}</td>
	   	</form>	
   		</tr>
		 </tbody>
	</table>
</div>