<center class="container">
		<div class="jumbotron">
			<center><h1>Create a Set</h1></center>
		</div>
	</center>



	<div class="container col-md-4"></div>
	<div class="container col-md-4">
		<form>
			<fieldset class="form-group">
				<label for="setName">Name/label>
				<input type="string" class="form-control" id="name" placeholder="Name for the set">
				<small class="text-muted">Give a title for your set</small>
			</fieldset>
			
			<br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>
	</div>