<div class="container-fluid" id="newSet" ng-controller='create-set-controller' style="margin-bottom: 50px">

	<center><h2>Create a Flashcard Set</h2></center>

	<div class="col-xs-2"></div>
	<div class="col-lg-8" style="margin-top:50px">
		<form ng-submit="createSet(); redirectUserSetsUrl()">
			<p class="lead">
			Set Name
			<input class="form-control input-lg" type="text" ng-model="set.Name" placeholder="Name"><br>

			Category
			<input class="form-control input-lg" type="text" ng-model="set.Category" placeholder="Category"><br>

			Author
			<input class="form-control input-lg" type="text" ng-model="set.Author" placeholder="Author"><br>

			User Email
			<input class="form-control input-lg" type="text" ng-model="set.email" placeholder="Facebook Email ID"><br>
			</p>

			<div ng-repeat="card in cardsToAdd">
				<p class="lead">
				Card
				<input class="form-control input-lg" type="text" ng-model="card.front" placeholder="Front" />
				<input class="form-control input-lg" type="text" ng-model="card.back" placeholder="Back" />
				<button class="btn btn-primary btn-lg" ng-click="add(card)">Add to Set</button>
				</p>
			</div>

			<p class="lead">
			<button class="btn btn-default btn-md" ng-click="addNew()"><i class="glyphicon glyphicon-plus"></i></button>
			</p>

			<center>
				<b>NOTE: You must click "Add to Set" to add a card to the set.</b>
				<br><br><br>
				<input class="btn btn-default btn-lg" type="submit" role="submit" value="Create" />
			</center>
		</form>

		<br><br><pre>{{set | json}}</pre>
	</div>
	<div class="col-xs-2"></div>
</div>