<div class="container-fluid" id = "newSet" ng-controller='create-set-controller' ng-init='initNewSet()' style="margin-bottom: 50px">

	<center><h2>Create a Flashcard Set</h2></center>

	<div class="col-xs-2"></div>
	<div class="col-lg-8" style="margin-top:50px">

		<p class="lead">
		Set Name
		<input ng-model = "name" id="Name" type="text" class="form-control input-lg" placeholder="Name"><br>

		Category
		<input ng-model = "category" id="Category" type="text" class="form-control input-lg" placeholder="Category"><br>
		</p>

		<!--
		Author
		<input ng-model = "author" id="Author" type="text" class="form-control input-lg" placeholder="Author"><br>
		-->

		<div id="dynamicInput">
			<p class="lead">
			Card
			<br>
			<input ng-model = "front1" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Front">
			<input ng-model = "back1" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Back">
			<br>

			Card
			<br>
			<input ng-model = "front2" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Front">
			<input ng-model = "back2" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Back">
			<br>

			Card
			<br>
			<input ng-model = "front3" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Front">
			<input ng-model = "back3" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Back">
			</p>
		</div>
	     
	    <button class="btn btn-default btn-md" onClick="addInput('dynamicInput');"><i class="glyphicon glyphicon-plus"></i></button>

		<center><a class="btn btn-success btn-lg" ng-click='writeSet(name,category,author); initCards(front1,front2,front3,back1,back2,back3)' role="submit">Create</a></center>
	</div>
	<div class="col-xs-2"></div>
</div>