<div class="container-fluid" ng-controller="crudSetCntrl" ng-init="initNewSet()" style="margin-bottom: 50px">
	<center><h2>Create a Flashcard Set</h2></center>

	<div class="col-xs-2"></div>
	<div class="col-lg-8" style="margin-top:50px">

		<p class="lead">
		Set Name
		<input ng-model="" id="Set Name" type="text" class="form-control input-lg" placeholder="Name"><br>

		Category
		<input ng-model="" id="Category" type="text" class="form-control input-lg" placeholder="Category"><br>
		</p>

		<div id="dynamicInput">
			<p class="lead">
			Card
			<br>
			<input ng-model="" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Front">
			<input ng-model="" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Back">
			<br>

			Card
			<br>
			<input ng-model="" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Front">
			<input ng-model="" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Back">
			<br>

			Card
			<br>
			<input ng-model="" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Front">
			<input ng-model="" class="form-control input-lg" type="text" name="myInputs[]" placeholder="Back">
			</p>
		</div>
	     
	    <button class="btn btn-default btn-md" onClick="addInput('dynamicInput');"><i class="glyphicon glyphicon-plus"></i></button>

		<center><a class="btn btn-success btn-lg" ng-click='writeSet()' role="submit">Create</a></center>
	</div>
	<div class="col-xs-2"></div>
</div>