<div ng-app="studybuddyApp" ng-controller="accountController" ng-init="getUsercardsetResults()">
	<center  style="margin-top:50px">
		<table class="table table-bordered table-striped table-hover"> 
			<thead>
				<th>Name</th>
				<th>Category</th>
				<th># Cards</th>
				<th>Author</th>
				<th>Date Created</th>
			</thead>
			<tbody>
		   		<tr ng-repeat="userresult in userresults">
			   		<td><a href="" ng-click="redirectUserCardUrl(userresult.setIdNum, userresult.Name)">{{userresult.Name}}</a></td>
			   		<td>{{userresult.Category}}</td>
			   		<td>{{userresult.numCards}}</td>
			   		<td>{{userresult.Author}}</td>
			   		<td>{{userresult.DateCreated}}</td>
			   		<td> <input type='button' class='Remove' value = 'X'></td>
		   		</tr>
			 </tbody>
		</table>
	</center>
</div>	