<div ng-controller="cardCRUDcontroller" ng-init="getCards()">
    <h4>List</h4>
    <ul>
        <li ng-repeat="card in Cards">
            {{card.front}} - {{card.back}}
            <a class="btn" data-toggle="modal" data-target="#modal" ng-click="editItem(item)">Edit item</a>
        </li>
    </ul>
</div>

<div id="modal" role="dialog" class="modal hide fade">
    <div ng-controller="ItemController">
        <div class="modal-header">
            Item Dialog
        </div>
        <div class="modal-body">
            <label for="txtName" />
            <input type="text" id="txtName" ng-model="card.front" />
            <input type="text" id="txtName" ng-model="card.back" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>