<center>
	<h2>Login</h2>
</center>

<div class="col-md-4"></div>
<div class="col-md-4 container-fluid" ng-controller="account-controller" style="margin-top:50px">
	<p class="lead">
		Email Address
		<input class="form-control input-lg" id="inputEmail" placeholder="Email" type="email" ng-model="email">

		<br>

		Password
		<input class="form-control input-lg" id="inputPassword" placeholder="Password" type="password" ng-model="password">
	</p>
	<p class="text-center">Not registered yet? <a ng-href="#/signup">Create an account</a></p>

	<button class="btn btn-lg btn-default btn-block" type="submit" ng-click="getAccountResults(email,password)">
		Log In
	</button>
</div>
<div class="col-md-4"></div>