<center>
	<h2>Login</h2>
</center>

<div class="col-md-4"></div>
<div class="col-md-4 container-fluid" ng-controller="account-controller" style="margin-top:50px">
	<p class="lead">
		Username
		<input class="form-control input-lg" id ="username" placeholder="User Id" type="text" ng-model="username">
		<br>

		Password
		<input class="form-control input-lg" id="inputPassword" placeholder="Password" type="password" ng-model="password">
	</p>
	<p class="text-center">Not registered yet? <a ng-href="#/signup">Create an account</a></p>

	<button class="btn btn-lg btn-default btn-block" type="submit" ng-click="checklogin(username)">
		Log In
	</button>
	<br>
	<b>Instead login with your Facebook account</b> <br>
	<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook Login</a>
</div>
<div class="col-md-4"></div>