<div class="container-fluid" ng-controller="card-set-controller" style="margin-bottom: 50px; background-color:rgba(255, 255, 255, 0.6);">

	<center><h2>What Would You Like To Do?</h2></center>

	<div class="col-xs-2"></div>
	<div class="col-lg-8" style="margin-top:50px">

		<p class="lead">
		
 		<center><a class="btn btn-success btn-lg" ng-click=''>Change Set Info</a></center> <br>

		<center><a class="btn btn-success btn-lg" ng-click='createCardsRedirect()'>Add Cards</a></center> <br>

		<center><a class="btn btn-success btn-lg" ng-click=''>Modify Cards</a></center>

		</p>
	</div>
</div>