<div ng-app="studybuddyApp" ng-controller="card-set-controller" ng-init="getmysets()">
	<center  style="margin-top:50px">
		<table class="table table-bordered table-striped table-hover"> 
			<thead>
				<th>Name</th>
				<th>Category</th>
				<th># Cards</th>
				<th>Author</th>
				<th>Date Created</th>
				<th>Delete</th>
			</thead>
			<tbody>
		   		<tr ng-repeat="result in results">
			   		<td><a href="" ng-click="redirectSearchCardUrl(result.setIdNum)">{{result.Name}}</a></td>
			   		<td>{{result.Category}}</td>
			   		<td>{{result.numCards}}</td>
			   		<td>{{result.Author}}</td>
			   		<td>{{result.DateCreated}}</td>
			   		<td><input type="button" ng-click="deleteSet(result.setIdNum)"> X </td>
		   		</tr>
			 </tbody>
		</table>
	</center>
</div>