<div ng-app="studybuddyApp" ng-controller="card-set-controller" ng-init="getFBsessionDetails(); getmysets()">
	
		<table class="table">
			<caption> <img class="img-responsive" src="/images/facebook_like_logo.jpg" style="width: 5%; height: 5%"> 
			<b><font size="3" color="black"> Logged in User Facebook details !</font></b>
			</caption>

			<thead>
				<tr>
					<th>Userid</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>	
			</thead>
			
			<tbody>
				<tr class ="success">
					<td>{{fbdetails._id}}</td>
					<td>{{fbdetails.firstName}}</td>
					<td>{{fbdetails.lastName}}</td>
					<td>{{fbdetails.email}}</td>
				</tr>		 
			</tbody>

		</table>

<center  style="margin-top:50px">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<th>Name</th>
				<th>Category</th>
				<th># Cards</th>
				<th>Author</th>
				<th>Date Created</th>
				<th>Delete</th>
			</thead>
			<tbody>
		   		<tr ng-repeat="result in results">
			   		<td><a href="" ng-click="redirectSearchCardUrl(result.setIdNum)">{{result.Name}}</a></td>
			   		<td>{{result.Category}}</td>
			   		<td>{{result.numCards}}</td>
			   		<td>{{result.Author}}</td>
			   		<td>{{result.DateCreated}}</td>
			   		<td><input type="button" ng-click="deleteSet(result.setIdNum)"> X </td>
		   		</tr>
			 </tbody>
		</table>
	</center>
</div>