<div class="container-fluid" ng-controller="quiz-controller" ng-init="getQuizQuestions(); getSetDetails();">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<center>
			<p class="lead">
				Set Name: <b>{{setDetails.Name}}</b><br>
				Author:   <b>{{setDetails.Author}}</b><br>
				Category: <b>{{setDetails.Category}}</b>
			</p>
			<br>
			<h2>Quiz in session...</h2>
			<p ng-repeat="question in questions">
				{{question.front}} <br>
			</p>
		</center>

	</div>
	<div class="col-md-4"></div>
	
</div>