<center>
	<h2>Sign Up</h2>
</center>

<div class="col-md-3"></div>
<div class="col-md-6 container-fluid" ng-controller="account-controller" style="margin-top:50px; margin-bottom:50px">
	<p class="lead">
		
		<form action="#/login" data-validate="parsley">
		Email address
		<input ng-model="email" class="form-control input-lg" data-parsley-trigger="change" required id="email" placeholder="Email" type="email">

		<br>
	
		First Name
		<input ng-model="firstName" class="form-control input-lg" required id="firstName" data-parsley-pattern="/^[a-zA-Z\-]*$/" placeholder="First Name" type="text">
	
		<br>
	
		Last Name
		<input ng-model="lastName" class="form-control input-lg" required id="lastName" data-parsley-pattern="/^[a-zA-Z\-]*$/" placeholder="Last Name" type="text">
	
		<br>

		Date of Birth
		<input ng-model="DOB" class="form-control input-lg" data-parsley-date required id="DOB" placeholder="MM/DD/YYYY" type="text">
	
		<br>
	
		Username
		<input ng-model="username" class="form-control input-lg" required id="username" placeholder="Username" type="text">
	
		<br>
	
		Password
		<input ng-model="password" class="form-control input-lg" data=parsley-type="alphanum" minlength="6" required id="password" placeholder="Password" type="text">

		<br>
		
	</p>

	<button class="btn btn-lg btn-default btn-block" type="submit" value="validate" ng-click="initUserSignUp(email, firstName, lastName, DOB, username, password)">
		Register
	</button>
	</form>
</div>
<div class="col-md-3"></div>
