body {
	background-image: url("/images/background.jpg");
}

.jumbotron{
	background-image: url("/images/jumbotron.jpg");
	color: white;
	font-weight: bold;
	letter-spacing: 3px;
	-webkit-text-stroke-width: 2.5px;
	-webkit-text-stroke-color: black;
}

.index{
	background-image: url("/images/jumbotron.jpg");
}

.index .container{
	opacity: .8;

}